portal/backend-tests/morda-backend-client/src/main/resources/wadl/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <grammars>
        <include href="../xsd/beans.xsd">
            <doc title="Generated" xml:lang="en"/>
        </include>
    </grammars>

    <resources base="http://www-rc.yandex.ru" xml:id="cleanvars">
        <resource path="/">

            <method id="getCleanvars" name="GET">
                <request>
                    <param name="cleanvars" style="query" type="xs:string" required="true"/>
                    <param name="forcecounters" style="query" type="xs:string"/>
                    <param name="User-Agent" style="header" type="xs:string" required="false"/>
                    <param name="Cookie" style="header" type="xs:string" required="false"/>
                    <param name="X-Forwarded-For" style="header" type="xs:string" required="false"/>
                    <param name="Referer" style="header" type="xs:string" required="false"/>
                </request>

                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>

            <method id="setLanguage" name="GET">
                <request>
                    <param name="lang" style="query" type="xs:string" required="true"/>
                    <param name="sk" style="query" type="xs:string" required="true"/>
                    <param name="cleanvars" style="query" type="xs:string" required="true" fixed="^sk$"/>
                </request>
            </method>

            <resource path="{football}">
                <param name="cleanvars" style="query" type="xs:string" required="true" fixed="1"/>
                <param name="Cookie" style="header" type="xs:string" required="false"/>

                <method id="withFootballTheme" name="GET">
                    <response status="200">
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>

            <resource path="themes/">
                <param name="cleanvars" style="query" type="xs:string" required="true" fixed="1"/>
                <param name="Cookie" style="header" type="xs:string" required="false"/>

                <method id="getThemes" name="GET">
                    <response status="200">
                        <representation mediaType="application/json"/>
                    </response>
                </method>

                <resource path="{themeId}/">
                    <param name="cleanvars" style="query" type="xs:string" required="true" fixed="1"/>
                    <param name="Cookie" style="header" type="xs:string" required="false"/>

                    <method id="setThemeInCatalog" name="GET">
                        <response status="200">
                            <representation mediaType="application/json"/>

                        </response>
                    </method>

                    <resource path="set">
                        <param name="sk" style="query" type="xs:string" required="true"/>

                        <method id="setTheme" name="GET">
                            <response status="200">
                            </response>
                        </method>
                    </resource>
                </resource>
            </resource>

            <resource path="instant/">
                <resource path="block/{block}">
                    <method id="getCleanvarsRapidoResponse" name="GET">
                        <request>
                            <param name="User-Agent" style="header" type="xs:string" required="false"/>
                            <param name="Cookie" style="header" type="xs:string" required="false"/>
                            <param name="X-Forwarded-For" style="header" type="xs:string" required="false"/>
                            <param name="Referer" style="header" type="xs:string" required="false"/>
                        </request>

                        <response status="200">
                        </response>
                    </method>

                    <method id="getCleanvarsRapido" name="GET">
                        <request>
                            <param name="User-Agent" style="header" type="xs:string" required="false"/>
                            <param name="Cookie" style="header" type="xs:string" required="false"/>
                            <param name="X-Forwarded-For" style="header" type="xs:string" required="false"/>
                            <param name="Referer" style="header" type="xs:string" required="false"/>
                        </request>

                        <response status="200">
                            <representation mediaType="application/json"/>
                        </response>
                    </method>

                </resource>

                <resource path="all">
                    <method id="getCleanvarsAllRapidoResponse" name="GET">
                        <request>
                            <param name="User-Agent" style="header" type="xs:string" required="false"/>
                            <param name="Cookie" style="header" type="xs:string" required="false"/>
                            <param name="X-Forwarded-For" style="header" type="xs:string" required="false"/>
                            <param name="Referer" style="header" type="xs:string" required="false"/>
                        </request>

                        <response status="200">
                        </response>
                    </method>


                    <method id="getCleanvarsAllRapido" name="GET">
                        <request>
                            <param name="User-Agent" style="header" type="xs:string" required="false"/>
                            <param name="Cookie" style="header" type="xs:string" required="false"/>
                            <param name="X-Forwarded-For" style="header" type="xs:string" required="false"/>
                            <param name="Referer" style="header" type="xs:string" required="false"/>
                        </request>

                        <response status="200">
                            <representation mediaType="application/json"/>
                        </response>
                    </method>

                </resource>


            </resource>
        </resource>
    </resources>
</application>
