portal/backend-tests/morda-backend-client/src/main/resources/wadl/tune.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <resources base="http://tune.yandex.ru" xml:id="tune">

        <resource path="/pages/region/do/save.xml">
            <param name="sk" style="query" type="xs:string" required="true"/>
            <param name="region_id" style="query" type="xs:string" required="true"/>

            <method id="setRegion" name="GET">
            </method>
       </resource>
        <resource path="/api/lang/v1.1/save.xml">
            <param name="sk" style="query" type="xs:string" required="true"/>
            <param name="intl" style="query" type="xs:string" required="true"/>
            <param name="retpath" style="query" type="xs:string" required="true"/>

            <method id="setLanguage" name="GET">
            </method>
        </resource>
   </resources>
</application>
