portal/links-tests/src/main/resources/xsd/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:beans.mordalinks.autotests.yandex.ru"
           xmlns:ns="urn:beans.mordalinks.autotests.yandex.ru">

    <xs:complexType name="MordaLinkList">
        <xs:sequence>
            <xs:element type="xs:int" name="count"/>
            <xs:element type="ns:MordaLink" name="data" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MordaLinksCount">
        <xs:sequence>
            <xs:element type="xs:int" name="count"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MordaLink">
        <xs:sequence>
            <xs:element type="xs:string" name="_id"/>
            <xs:element type="xs:string" name="href"/>
            <xs:element type="ns:MordaConditions" name="cond"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MordaConditions">
        <xs:sequence>
            <xs:element type="xs:int" name="gid"/>
            <xs:element type="xs:string" name="lang" nillable="true"/>
            <xs:element type="xs:boolean" name="auth" nillable="true"/>
            <xs:element type="ns:UserAgent" name="ua" nillable="true"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UserAgent">
        <xs:sequence>
            <xs:element type="xs:string" name="id"/>
            <xs:element type="xs:string" name="value"/>
            <xs:element type="xs:string" name="descr"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Url">
        <xs:sequence>
            <xs:element type="xs:string" name="candidate"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
