portal/java-tests/morda-common/morda-api/src/main/resources/xsd/api/search/v1/block.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            targetNamespace="urn:v1.search.api.beans.morda.autotests.yandex.ru"
            elementFormDefault="qualified">

    <xsd:complexType name="Block">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="ttv" type="xsd:int"/>
            <xsd:element name="ttl" type="xsd:int"/>
            <xsd:element name="title" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>

