portal/exports-tests/morda-exports-beans/src/main/resources/xsd/sign_export.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:sign.exports.morda.autotests.yandex.ru"
            xmlns:ns="urn:sign.exports.morda.autotests.yandex.ru"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
            xmlns:annox="http://annox.dev.java.net"
            jaxb:extensionBindingPrefixes="inheritance annox"
            elementFormDefault="qualified">

    <xsd:complexType name="sign_deserializer">
        <xsd:annotation>
            <xsd:appinfo>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.deserializers.AllEntriesDeserializer
                    &lt;ru.yandex.autotests.morda.exports.sign.SignEntry&gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:complexType>

    <xsd:complexType name="sign_browser_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_browser_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignBrowserV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignBrowserV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_auto_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_auto_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignAutoV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignAutoV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_market_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_market_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignMarketV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignMarketV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_rabota_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_rabota_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignRabotaV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignRabotaV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_realty_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_realty_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignRealtyV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignRealtyV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_taxi_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_taxi_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignTaxiV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignTaxiV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_music_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_music_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignMusicV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignMusicV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_master_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_master_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignMasterV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignMasterV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_zno_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_zno_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignZnoV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignZnoV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_travel_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_travel_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignTravelV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignTravelV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_autoru_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.exports.annotations.MordaExportDescription"
                                    name="sign_autoru_v2"
                                    clazz="ru.yandex.autotests.morda.exports.sign.SignAutoruV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.MordaExport
                    &lt;
                    ru.yandex.autotests.morda.exports.sign.SignAutoruV2Export,
                    ru.yandex.autotests.morda.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_entry">
        <xsd:annotation>
            <xsd:appinfo>
                <inheritance:extends>ru.yandex.autotests.morda.exports.MordaExportEntry</inheritance:extends>
                <inheritance:implements>ru.yandex.autotests.morda.exports.interfaces.EntryWithGeoAndLang</inheritance:implements>
                <inheritance:implements>ru.yandex.autotests.morda.exports.interfaces.EntryWithDomain</inheritance:implements>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="domain" type="xsd:string"/>
            <xsd:element name="geo" type="xsd:int"/>
            <xsd:element name="lang" type="xsd:string"/>
            <xsd:element name="tablet" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="url" type="xsd:string"/>
            <xsd:element name="urltext" type="xsd:string"/>
            <xsd:element name="counter" type="xsd:string"/>
            <xsd:element name="weight" type="xsd:int"/>
            <xsd:element name="bk_tag" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
