portal/java-tests/morda-common/morda-exports/src/main/resources/xsd/sign_export.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:sign.exports.beans.morda.autotests.yandex.ru"
            xmlns:ns="urn:sign.exports.beans.morda.autotests.yandex.ru"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
            xmlns:annox="http://annox.dev.java.net"
            jaxb:extensionBindingPrefixes="inheritance annox"
            elementFormDefault="qualified">

    <xsd:complexType name="sign_deserializer">
        <xsd:annotation>
            <xsd:appinfo>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.deserializers.AllEntriesDeserializer
                    &lt;ru.yandex.autotests.morda.beans.exports.sign.SignEntry&gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:complexType>

    <xsd:complexType name="sign_browser_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_browser_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignBrowserV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignBrowserV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_auto_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_auto_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignAutoV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignAutoV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_market_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_market_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignMarketV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignMarketV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_market_touch_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_market_touch_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignMarketTouchV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignMarketTouchV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_rabota_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_rabota_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignRabotaV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignRabotaV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_realty_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_realty_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignRealtyV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignRealtyV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_taxi_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_taxi_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignTaxiV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignTaxiV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_music_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_music_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignMusicV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignMusicV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_master_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_master_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignMasterV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignMasterV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_zno_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_zno_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignZnoV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignZnoV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_travel_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_travel_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignTravelV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignTravelV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_autoru_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_autoru_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignAutoruV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignAutoruV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_autoru_touch_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_autoru_touch_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignAutoruTouchV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignAutoruTouchV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_avia_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_avia_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignAviaV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignAviaV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_images_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_images_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignImagesV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignImagesV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_kinopoisk_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_kinopoisk_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignKinopoiskV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignKinopoiskV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_kinopoisk_old_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_kinopoisk_old_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignKinopoiskOldV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignKinopoiskOldV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_money_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_money_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignMoneyV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignMoneyV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_rabota_touch_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_rabota_touch_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignRabotaTouchV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignRabotaTouchV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_radio_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_radio_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignRadioV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignRadioV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_realty_touch_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_realty_touch_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignRealtyTouchV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignRealtyTouchV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_search_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_search_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignSearchV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignSearchV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_taxi_touch_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_taxi_touch_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignTaxiTouchV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignTaxiTouchV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_travel_touch_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_travel_touch_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignTravelTouchV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignTravelTouchV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sign_video_v2_export">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    <annox:annotate annox:class="ru.yandex.autotests.morda.annotations.exports.MordaExportDescription"
                                    name="sign_video_v2"
                                    clazz="ru.yandex.autotests.morda.beans.exports.sign.SignVideoV2Export"/>
                </annox:annotate>
                <inheritance:extends>
                    ru.yandex.autotests.morda.exports.AbstractMordaExport
                    &lt;
                    ru.yandex.autotests.morda.beans.exports.sign.SignVideoV2Export,
                    ru.yandex.autotests.morda.beans.exports.sign.SignEntry
                    &gt;
                </inheritance:extends>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data" type="ns:sign_entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.beans.exports.sign.SignDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sign_entry">
        <xsd:annotation>
            <xsd:appinfo>
                <inheritance:extends>ru.yandex.autotests.morda.beans.exports.AbstractEntry</inheritance:extends>
                <inheritance:implements>ru.yandex.autotests.morda.exports.interfaces.EntryWithGeoAndLang</inheritance:implements>
                <inheritance:implements>ru.yandex.autotests.morda.exports.interfaces.EntryWithDomain</inheritance:implements>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="domain">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:property>
                            <jaxb:baseType name="ru.yandex.autotests.morda.exports.filters.MordaDomainFilter"/>
                        </jaxb:property>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.deserializers.MordaDomainFilterDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geo">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:property>
                            <jaxb:baseType name="ru.yandex.autotests.morda.exports.filters.MordaGeoFilter"/>
                        </jaxb:property>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.deserializers.MordaGeoFilterDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lang">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:property>
                            <jaxb:baseType name="ru.yandex.autotests.morda.exports.filters.MordaLanguageFilter"/>
                        </jaxb:property>
                        <annox:annotate target="field">
                            <annox:annotate annox:class="com.fasterxml.jackson.databind.annotation.JsonDeserialize"
                                            using="ru.yandex.autotests.morda.exports.deserializers.MordaLanguageFilterDeserializer"/>
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tablet" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="url" type="xsd:string"/>
            <xsd:element name="urltext" type="xsd:string"/>
            <xsd:element name="counter" type="xsd:string"/>
            <xsd:element name="weight" type="xsd:long"/>
            <xsd:element name="bk_tag" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
