portal/links-tests/src/main/resources/wadl/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:ns="urn:beans.mordalinks.autotests.yandex.ru"
             xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <grammars>
        <include href="../xsd/data.xsd"/>
    </grammars>

    <resources base="http://portal.haze.yandex.net:3000" xml:id="links">
        <resource path="/api/v1/links">

            <method id="addLink" name="POST">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                 <response status="200 409"/>
            </method>

            <method id="getAllLinks" name="GET">
                <request>
                    <param name="fields" style="query" type="xs:string" required="true" fixed="href,cond"/>
                    <param name="limit" style="query" type="xs:int" required="true"/>
                </request>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>

            <resource path="/{linkId}/candidate">

                <method id="updateCandidate" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                </method>
            </resource>

            <resource path="/count">

                <method id="countChanged" name="GET">
                    <request>
                        <param name="query" style="query" type="xs:string" required="false"/>
                    </request>
                    <response status="200">
                        <representation mediaType="application/json"/>
                    </response>
                </method>

            </resource>

        </resource>
    </resources>
</application>
