portal/java-tests/morda-common/morda-api/src/main/resources/xsd/cleanvars/beans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.1"
            targetNamespace="urn:cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:wd="urn:wrongdate.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:themes="urn:themes.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:afisha="urn:afisha.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:aeroexpress="urn:aeroexpress.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:alert="urn:alert.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:topnews="urn:topnews.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:browserdesc="urn:browserdesc.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:servicestabs="urn:servicestabs.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:servicesblock="urn:servicesblock.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:stocks="urn:stocks.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:direct="urn:direct.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:search="urn:search.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:traffic="urn:traffic.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:tv="urn:tv.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:local="urn:local.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:geo="urn:geo.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:weather="urn:weather.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:logo="urn:logo.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:mail="urn:mail.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:miniservices="urn:miniservices.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:languagechooser="urn:languagechooser.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:disaster="urn:disaster.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:harita="urn:harita.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:example="urn:example.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:application="urn:application.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:servicesmobile="urn:servicesmobile.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:rasp="urn:rasp.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:poi="urn:poi.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:poi_groups="urn:poi_groups.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:poi_favourite="urn:poi_favourite.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:bridges="urn:bridges.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:etrains="urn:etrains.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:citysuggest="urn:citysuggest.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:metro="urn:metro.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:bannerdebug="urn:bannerdebug.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:teaser_service="urn:teaser_service.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:authinfo="urn:authinfo.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:switch_type = "urn:switchtype.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:teaser = "urn:teaser.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:market_cards = "urn:market_cards.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:edadeal = "urn:edadeal.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:collections = "urn:collections.cleanvars.beans.morda.autotests.yandex.ru"
            elementFormDefault="qualified"
            xmlns:annox="http://annox.dev.java.net"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:extensionBindingPrefixes="annox">

    <xsd:import schemaLocation="wrong_date.xsd" namespace="urn:wrongdate.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="themes.xsd" namespace="urn:themes.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="afisha.xsd" namespace="urn:afisha.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="aeroexpress.xsd" namespace="urn:aeroexpress.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="alert.xsd" namespace="urn:alert.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="topnews.xsd" namespace="urn:topnews.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="browserdesc.xsd" namespace="urn:browserdesc.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="servicestabs.xsd" namespace="urn:servicestabs.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="servicesblock.xsd"
                namespace="urn:servicesblock.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="stocks.xsd" namespace="urn:stocks.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="direct.xsd" namespace="urn:direct.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="geo.xsd" namespace="urn:geo.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="search.xsd" namespace="urn:search.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="traffic.xsd" namespace="urn:traffic.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="tv.xsd" namespace="urn:tv.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="local.xsd" namespace="urn:local.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="weather.xsd" namespace="urn:weather.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="logo.xsd" namespace="urn:logo.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="mail.xsd" namespace="urn:mail.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="miniservices.xsd" namespace="urn:miniservices.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="languagechooser.xsd"
                namespace="urn:languagechooser.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="disaster.xsd" namespace="urn:disaster.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="harita.xsd" namespace="urn:harita.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="example.xsd" namespace="urn:example.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="application.xsd" namespace="urn:application.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="servicesmobile.xsd"
                namespace="urn:servicesmobile.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="rasp.xsd" namespace="urn:rasp.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="poi.xsd" namespace="urn:poi.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="poi_groups.xsd" namespace="urn:poi_groups.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="poi_favourite.xsd" namespace="urn:poi_favourite.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="bridges.xsd" namespace="urn:bridges.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="etrains.xsd" namespace="urn:etrains.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="citysuggest.xsd" namespace="urn:citysuggest.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="metro.xsd" namespace="urn:metro.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="banner_debug.xsd" namespace="urn:bannerdebug.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="teaser_service.xsd" namespace="urn:teaser_service.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="geohelper.xsd" namespace="urn:geohelper.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="authinfo.xsd" namespace="urn:authinfo.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="switch_type.xsd" namespace="urn:switchtype.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="teaser.xsd" namespace="urn:teaser.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="market_cards.xsd" namespace="urn:market_cards.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="edadeal.xsd" namespace="urn:edadeal.cleanvars.beans.morda.autotests.yandex.ru"/>
    <xsd:import schemaLocation="collections.xsd" namespace="urn:collections.cleanvars.beans.morda.autotests.yandex.ru"/>


    <xsd:complexType name="MordaCleanvars">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    @ru.yandex.qatools.processors.matcher.gen.annotations.GenerateMatcher
                </annox:annotate>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Afisha" type="afisha:afisha"/>
            <xsd:element name="Aeroexpress" type="aeroexpress:aeroexpress"/>
            <xsd:element name="Alert" type="alert:alert"/>
            <xsd:element name="Application" type="application:application"/>
            <xsd:element name="AuthInfo" type="authinfo:AuthInfo"/>
            <xsd:element name="Requestid" type="xsd:string"/>
            <xsd:element name="BrowserDesc" type="browserdesc:browserDesc"/>
            <xsd:element name="DevicePlatform" type="xsd:string"/>
            <xsd:element name="MordaContent" type="xsd:string"/>
            <xsd:element name="MordaZone" type="xsd:string"/>
            <xsd:element name="Metro" type="metro:metro"/>
            <xsd:element name="IsHoliday" type="xsd:string"/>
            <xsd:element name="Direct" type="direct:direct"/>
            <xsd:element name="Disaster" type="disaster:disaster"/>
            <xsd:element name="Geo" type="geo:geo"/>
            <xsd:element name="GeoDetection" type="geo:geoDetection"/>
            <xsd:element name="GeoID" type="xsd:int"/>
            <xsd:element name="GeoLocation" type="geo:geoLocation"/>
            <xsd:element name="Harita" type="harita:harita"/>
            <xsd:element name="Topnews" type="topnews:topnews"/>
            <xsd:element name="WrongDateAlert" type="wd:wrongDate"/>
            <xsd:element name="WrongDateFatal" type="wd:wrongDate"/>
            <xsd:element name="Themes" type="themes:themes"/>
            <xsd:element name="sk" type="xsd:string"/>
            <xsd:element name="Skin" type="xsd:string"/>
            <xsd:element name="HomePageNoArgs" type="xsd:string"/>
            <xsd:element name="Yandexuid" type="xsd:string"/>
            <xsd:element name="WpWauth" type="xsd:string"/>
            <xsd:element name="SkinSetEnabled" type="xsd:string"/>
            <xsd:element name="SkinsEnabled" type="xsd:string"/>
            <xsd:element name="WpSettings" type="themes:wpSettings"/>
            <xsd:element name="randomSkin" type="xsd:string"/>
            <xsd:element name="SkinsCatalog" type="xsd:int"/>
            <xsd:element name="DefskinArg" type="xsd:string"/>
            <xsd:element name="football_tr" type="themes:footballTr"/>
            <xsd:element name="Search" type="search:search"/>
            <xsd:element name="SearchUrl" type="xsd:string"/>
            <xsd:element name="Services_tabs" type="servicestabs:servicesTabs"/>
            <xsd:element name="Services" type="servicesblock:servicesBlock"/>
            <xsd:element name="Services_mobile" type="servicesmobile:servicesMobile"/>
            <xsd:element name="Stocks" type="stocks:stocks"/>
            <xsd:element name="Traffic" type="traffic:traffic"/>
            <xsd:element name="tv" type="tv:tv"/>
            <xsd:element name="Local" type="local:localBlock"/>
            <xsd:element name="LocalDayTime" type="xsd:string"/>
            <xsd:element name="HiddenTime" type="xsd:string"/>
            <xsd:element name="yyyymmdd" type="xsd:string"/>
            <xsd:element name="Weather" type="weather:weather"/>
            <xsd:element name="WsTemp" type="xsd:int"/>
            <xsd:element name="Logo" type="logo:logo"/>
            <xsd:element name="Mail" type="mail:mail"/>
            <xsd:element name="MailInfo" type="mail:mailInfo"/>
            <xsd:element name="Miniservices" type="miniservices:miniservices"/>
            <xsd:element name="Language" type="xsd:string"/>
            <xsd:element name="Language_lc" type="xsd:string"/>
            <xsd:element name="LanguageChooserInFooter" type="languagechooser:languageChooserInFooter" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="SmartExample" type="example:example"/>
            <xsd:element name="Rasp" type="rasp:rasp"/>
            <xsd:element name="poi" type="poi:poi"/>
            <xsd:element name="PoiGroups" type="poi_groups:poiGroups"/>
            <xsd:element name="PoiFavourite" type="poi_favourite:poiFavourite"/>
            <xsd:element name="bridges" type="bridges:bridges"/>
            <xsd:element name="Etrains" type="etrains:etrains"/>
            <xsd:element name="citySuggest" type="citysuggest:citySuggest"/>
            <xsd:element name="blocks" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @com.fasterxml.jackson.databind.annotation.JsonDeserialize(
                            using =
                            ru.yandex.autotests.morda.api.cleanvars.deserializers.MordaCleanvarsBlocksDeserializer.class
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Banner_debug" type="bannerdebug:bannerDebug"/>
            <xsd:element name="Gohome" type="xsd:string"/>
            <xsd:element name="SetBigMorda" type="xsd:string"/>
            <xsd:element name="switch_type" type="switch_type:switchType"/>
            <xsd:element name="Retpath" type="xsd:string"/>
            <xsd:element name="Teaser_service" type="teaser_service:teaserService"/>
            <xsd:element name="set_start_page_link" type="xsd:int"/>
            <xsd:element name="SetupUrl" type="xsd:string"/>
            <xsd:element name="SetupUrlRegion" type="xsd:string"/>
            <xsd:element name="BigCityName" type="xsd:string"/>
            <xsd:element name="BigShortMonth" type="xsd:string"/>
            <xsd:element name="www" type="xsd:string"/>
            <xsd:element name="isRussia" type="xsd:int"/>
            <xsd:element name="Teaser" type="teaser:Teaser"/>
            <xsd:element name="Market_cards" type="market_cards:MarketCards"/>
            <xsd:element name="Edadeal" type="edadeal:Edadeal"/>
            <xsd:element name="Collections" type="collections:Collections"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>

