portal/java-tests/morda-common/morda-api/src/main/resources/xsd/cleanvars/mail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:mail.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:ns="urn:mail.cleanvars.beans.morda.autotests.yandex.ru"
            xmlns:annox="http://annox.dev.java.net"
            jaxb:version="2.1"
            jaxb:extensionBindingPrefixes="annox"
            elementFormDefault="qualified">

    <xsd:complexType name="mail">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    @ru.yandex.qatools.processors.matcher.gen.annotations.GenerateMatcher
                </annox:annotate>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <!--common-->
            <xsd:element name="processed" type="xsd:int"/>
            <xsd:element name="show" type="xsd:int"/>
            <xsd:element name="Logged" type="xsd:int">
            <xsd:annotation>
                <xsd:appinfo>
                    <annox:annotate target="field">
                        @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                        value = "признак залогиненности"
                        )
                    </annox:annotate>
                </xsd:appinfo>
            </xsd:annotation>
            </xsd:element>
            <xsd:element name="LiteUser" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "признак лайт-юзера без почты"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="banner" type="xsd:string"/>
            <xsd:element name="href" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "ссылка в почту"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nomailbox" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "признак отсутствия почты"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="showsetup" type="xsd:string"/>
            <xsd:element name="socialinit" minOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @com.fasterxml.jackson.databind.annotation.JsonDeserialize(
                            using =
                            ru.yandex.autotests.morda.api.cleanvars.deserializers.MordaCleanvarsSocialInitDeserializer.class
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="visible" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "домик свернут/развернут"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="visible_set_off" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "ссылка на свертывание домика"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="visible_set_on" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "ссылка на развертывание домика"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="promo_button" type="ns:promoButton"/>
            <xsd:element name="promo_disk_v12" type="ns:promoDisk"/>
            <xsd:element name="promos_islands" type="ns:promoIslands" minOccurs="0" maxOccurs="unbounded"/>
            <!--not login-->
            <xsd:element name="NoAuthReason" type="xsd:string"/>
            <!--login-->
            <xsd:element name="count" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "счетчик новых писем"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="countaccus" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "правильное написание писем"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="domain" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "домен почты"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="email" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "совпадает с логином"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fullcountaccus" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "правильное написание новых писем"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="remember_me" type="xsd:int"/>
            <xsd:element name="users" type="ns:mailUser" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--xsd:complexType name="mailInfo">
        <xsd:sequence>
            <xsd:element name="Logged" type="xsd:int"/>
            <xsd:element name="NoAuthReason" type="xsd:string"/>
            <xsd:element name="count" type="xsd:int"/>
            <xsd:element name="countaccus" type="xsd:string"/>
            <xsd:element name="domain" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="fullcountaccus" type="xsd:string"/>
            <xsd:element name="showsetup" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType-->

    <xsd:complexType name="promoButton">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    @ru.yandex.qatools.processors.matcher.gen.annotations.GenerateMatcher
                </annox:annotate>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="color" type="xsd:string"/>
            <xsd:element name="counter" type="xsd:string"/>
            <xsd:element name="domain" type="xsd:string"/>
            <xsd:element name="geo" type="xsd:int"/>
            <xsd:element name="lang" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="url" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="promoDisk">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    @ru.yandex.qatools.processors.matcher.gen.annotations.GenerateMatcher
                </annox:annotate>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="counter" type="xsd:string"/>
            <xsd:element name="domain" type="xsd:string"/>
            <xsd:element name="geo" type="xsd:int"/>
            <xsd:element name="geo_exclude" type="xsd:int"/>
            <xsd:element name="lang" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="url" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="promoIslands">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    @ru.yandex.qatools.processors.matcher.gen.annotations.GenerateMatcher
                </annox:annotate>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="counter" type="xsd:string"/>
            <xsd:element name="domain" type="xsd:string"/>
            <xsd:element name="geo" type="xsd:int"/>
            <xsd:element name="lang" type="xsd:string"/>
            <xsd:element name="poi" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="url" type="xsd:string"/>
            <xsd:element name="weight" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="socialInit">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    @ru.yandex.qatools.processors.matcher.gen.annotations.GenerateMatcher
                </annox:annotate>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="primary" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="display_name" type="xsd:string"/>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="enabled" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="mailUser">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    @ru.yandex.qatools.processors.matcher.gen.annotations.GenerateMatcher
                </annox:annotate>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="UserName" type="ns:userName"/>
            <xsd:element name="avatar_id" type="xsd:string"/>
            <xsd:element name="color_scheme" type="xsd:string"/>
            <xsd:element name="default" type="xsd:int"/>
            <xsd:element name="display_name" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "почтовый адрес"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mail_info" type="ns:mailInfo"/>
            <xsd:element name="mailbox" type="xsd:int"/>
            <xsd:element name="seasons-skin" type="xsd:string"/>
            <xsd:element name="uid" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "puid"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="userName">
        <xsd:sequence>
            <xsd:element name="f" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "начальная буква логина"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="l" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "логин без начальной буквы"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="str" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "логин"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="mailInfo">
        <xsd:annotation>
            <xsd:appinfo>
                <annox:annotate target="class">
                    @ru.yandex.qatools.processors.matcher.gen.annotations.GenerateMatcher
                </annox:annotate>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="fresh" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "кол-во новых писем"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unread" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <annox:annotate target="field">
                            @ru.yandex.autotests.morda.annotations.MordaFieldDescription(
                            value = "кол-во непрочитанных писем"
                            )
                        </annox:annotate>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>