portal/java-tests/morda-common/morda-api/src/main/resources/xsd/cleanvars/switch_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:switchtype.cleanvars.beans.morda.autotests.yandex.ru"
            jxb:version="2.1"
            elementFormDefault="qualified">

    <xsd:complexType name="switchType">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string"/>
            <xsd:element name="url" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>