portal/backend-tests/morda-backend-client/src/main/resources/xsd/beans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.1"
            targetNamespace="urn:cleanvars.beans.mordabackend.autotests.yandex.ru"
            xmlns:wd="urn:wrongdate.beans.mordabackend.autotests.yandex.ru"
            xmlns:themes="urn:themes.beans.mordabackend.autotests.yandex.ru"
            xmlns:afisha="urn:afisha.beans.mordabackend.autotests.yandex.ru"
            xmlns:aeroexpress="urn:aeroexpress.beans.mordabackend.autotests.yandex.ru"
            xmlns:alert="urn:alert.beans.mordabackend.autotests.yandex.ru"
            xmlns:topnews="urn:topnews.beans.mordabackend.autotests.yandex.ru"
            xmlns:browserdesc="urn:browserdesc.beans.mordabackend.autotests.yandex.ru"
            xmlns:servicestabs="urn:servicestabs.beans.mordabackend.autotests.yandex.ru"
            xmlns:servicesblock="urn:servicesblock.beans.mordabackend.autotests.yandex.ru"
            xmlns:stocksblock="urn:stocksblock.beans.mordabackend.autotests.yandex.ru"
            xmlns:direct="urn:direct.beans.mordabackend.autotests.yandex.ru"
            xmlns:search="urn:search.beans.mordabackend.autotests.yandex.ru"
            xmlns:traffic="urn:traffic.beans.mordabackend.autotests.yandex.ru"
            xmlns:tv="urn:tv.beans.mordabackend.autotests.yandex.ru"
            xmlns:local="urn:local.beans.mordabackend.autotests.yandex.ru"
            xmlns:geo="urn:geo.beans.mordabackend.autotests.yandex.ru"
            xmlns:weather="urn:weather.beans.mordabackend.autotests.yandex.ru"
            xmlns:logo="urn:logo.beans.mordabackend.autotests.yandex.ru"
            xmlns:mail="urn:mail.beans.mordabackend.autotests.yandex.ru"
            xmlns:miniservices="urn:miniservices.beans.mordabackend.autotests.yandex.ru"
            xmlns:languagechooser="urn:languagechooser.beans.mordabackend.autotests.yandex.ru"
            xmlns:disaster="urn:disaster.beans.mordabackend.autotests.yandex.ru"
            xmlns:harita="urn:harita.beans.mordabackend.autotests.yandex.ru"
            xmlns:example="urn:example.beans.mordabackend.autotests.yandex.ru"
            xmlns:application="urn:application.beans.mordabackend.autotests.yandex.ru"
            xmlns:servicesmobile="urn:servicesmobile.beans.mordabackend.autotests.yandex.ru"
            xmlns:rasp="urn:rasp.beans.mordabackend.autotests.yandex.ru"
            xmlns:poi="urn:poi.beans.mordabackend.autotests.yandex.ru"
            xmlns:poi_groups="urn:poi_groups.beans.mordabackend.autotests.yandex.ru"
            xmlns:poi_favourite="urn:poi_favourite.beans.mordabackend.autotests.yandex.ru"
            xmlns:bridges="urn:bridges.beans.mordabackend.autotests.yandex.ru"
            xmlns:etrains="urn:etrains.beans.mordabackend.autotests.yandex.ru"
            xmlns:citysuggest="urn:citysuggest.beans.mordabackend.autotests.yandex.ru"
            xmlns:metro="urn:metro.beans.mordabackend.autotests.yandex.ru"
            xmlns:bannerdebug="urn:bannerdebug.beans.mordabackend.autotests.yandex.ru"
            xmlns:teaser_service="urn:teaser_service.beans.mordabackend.autotests.yandex.ru"
            xmlns:authinfo="urn:authinfo.beans.mordabackend.autotests.yandex.ru"
            xmlns:switch_type = "urn:switchtype.beans.mordabackend.autotests.yandex.ru"
            xmlns:teaser = "urn:teaser.beans.mordabackend.autotests.yandex.ru"
            xmlns:banner_undersearch = "urn:bannerundersearch.beans.mordabackend.autotests.yandex.ru"
            xmlns:setupPages = "urn:setuppages.beans.mordabackend.autotests.yandex.ru"
            xmlns:collections = "urn:collections.beans.mordabackend.autotests.yandex.ru"
            xmlns:edadeal = "urn:edadeal.beans.mordabackend.autotests.yandex.ru"
            elementFormDefault="qualified">

    <xsd:import schemaLocation="wrong_date.xsd" namespace="urn:wrongdate.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="themes.xsd" namespace="urn:themes.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="afisha.xsd" namespace="urn:afisha.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="aeroexpress.xsd" namespace="urn:aeroexpress.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="alert.xsd" namespace="urn:alert.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="topnews.xsd" namespace="urn:topnews.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="browserdesc.xsd" namespace="urn:browserdesc.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="servicestabs.xsd" namespace="urn:servicestabs.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="servicesblock.xsd"
                namespace="urn:servicesblock.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="stocksblock.xsd" namespace="urn:stocksblock.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="direct.xsd" namespace="urn:direct.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="geo.xsd" namespace="urn:geo.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="search.xsd" namespace="urn:search.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="traffic.xsd" namespace="urn:traffic.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="tv.xsd" namespace="urn:tv.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="local.xsd" namespace="urn:local.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="weather.xsd" namespace="urn:weather.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="logo.xsd" namespace="urn:logo.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="mail.xsd" namespace="urn:mail.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="miniservices.xsd" namespace="urn:miniservices.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="languagechooser.xsd"
                namespace="urn:languagechooser.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="disaster.xsd" namespace="urn:disaster.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="harita.xsd" namespace="urn:harita.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="example.xsd" namespace="urn:example.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="application.xsd" namespace="urn:application.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="servicesmobile.xsd"
                namespace="urn:servicesmobile.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="rasp.xsd" namespace="urn:rasp.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="poi.xsd" namespace="urn:poi.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="poi_groups.xsd" namespace="urn:poi_groups.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="poi_favourite.xsd" namespace="urn:poi_favourite.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="bridges.xsd" namespace="urn:bridges.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="etrains.xsd" namespace="urn:etrains.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="citysuggest.xsd" namespace="urn:citysuggest.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="metro.xsd" namespace="urn:metro.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="banner_debug.xsd" namespace="urn:bannerdebug.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="teaser_service.xsd" namespace="urn:teaser_service.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="geohelper.xsd" namespace="urn:geohelper.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="authinfo.xsd" namespace="urn:authinfo.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="switch_type.xsd" namespace="urn:switchtype.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="teaser.xsd" namespace="urn:teaser.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="banner_undersearch.xsd" namespace="urn:bannerundersearch.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="setuppages.xsd" namespace="urn:setuppages.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="collections.xsd" namespace="urn:collections.beans.mordabackend.autotests.yandex.ru"/>
    <xsd:import schemaLocation="edadeal.xsd" namespace="urn:edadeal.beans.mordabackend.autotests.yandex.ru"/>

    <xsd:complexType name="cleanvars">
        <xsd:sequence>
            <xsd:element name="Afisha" type="afisha:afisha"/>
            <xsd:element name="Aeroexpress" type="aeroexpress:aeroexpress"/>
            <xsd:element name="Alert" type="alert:alert"/>
            <xsd:element name="Application" type="application:application"/>
            <xsd:element name="AuthInfo" type="authinfo:AuthInfo"/>
            <xsd:element name="Collections" type="collections:collections"/>
            <xsd:element name="Edadeal" type="edadeal:edadeal"/>
            <xsd:element name="Requestid" type="xsd:string"/>
            <xsd:element name="Banner_undersearch" type="banner_undersearch:Banner_undersearch"/>
            <xsd:element name="BrowserDesc" type="browserdesc:browserDesc"/>
            <xsd:element name="DevicePlatform" type="xsd:string"/>
            <xsd:element name="MordaContent" type="xsd:string"/>
            <xsd:element name="MordaZone" type="xsd:string"/>
            <xsd:element name="Metro" type="metro:metro"/>
            <xsd:element name="IsHoliday" type="xsd:string"/>
            <xsd:element name="Direct" type="direct:direct"/>
            <xsd:element name="Disaster" type="disaster:disaster"/>
            <xsd:element name="Geo" type="geo:geo"/>
            <xsd:element name="GeoDetection" type="geo:geoDetection"/>
            <xsd:element name="GeoID" type="xsd:int"/>
            <xsd:element name="GeoLocation" type="geo:geoLocation"/>
            <xsd:element name="Harita" type="harita:harita"/>
            <xsd:element name="Topnews" type="topnews:topnews"/>
            <xsd:element name="WrongDateAlert" type="wd:wrongDate"/>
            <xsd:element name="WrongDateFatal" type="wd:wrongDate"/>
            <xsd:element name="Themes" type="themes:themes"/>
            <xsd:element name="sk" type="xsd:string"/>
            <xsd:element name="Skin" type="xsd:string"/>
            <xsd:element name="HomePageNoArgs" type="xsd:string"/>
            <xsd:element name="Yandexuid" type="xsd:string"/>
            <xsd:element name="WPWauth" type="xsd:string"/>
            <xsd:element name="SkinSetEnabled" type="xsd:string"/>
            <xsd:element name="SkinsEnabled" type="xsd:string"/>
            <xsd:element name="WPSettings" type="themes:wpSettings"/>
            <xsd:element name="randomSkin" type="xsd:string"/>
            <xsd:element name="SkinsCatalog" type="xsd:int"/>
            <xsd:element name="DefskinArg" type="xsd:string"/>
            <xsd:element name="football_tr" type="themes:footballTr"/>
            <xsd:element name="Search" type="search:search"/>
            <xsd:element name="SearchUrl" type="xsd:string"/>
            <xsd:element name="Services_tabs" type="servicestabs:servicesTabs"/>
            <xsd:element name="Services" type="servicesblock:servicesBlock"/>
            <xsd:element name="Services_mobile" type="servicesmobile:servicesMobile"/>
            <xsd:element name="Stocks" type="stocksblock:stocksBlock"/>
            <xsd:element name="Traffic" type="traffic:traffic"/>
            <xsd:element name="TV" type="tv:tv"/>
            <xsd:element name="Local" type="local:localBlock"/>
            <xsd:element name="LocalDayTime" type="xsd:string"/>
            <xsd:element name="HiddenTime" type="xsd:string"/>
            <xsd:element name="YYYYMMDD" type="xsd:string"/>
            <xsd:element name="Weather" type="weather:weather"/>
            <xsd:element name="WSTemp" type="xsd:int"/>
            <xsd:element name="Logo" type="logo:logo"/>
            <xsd:element name="Mail" type="mail:mail"/>
            <xsd:element name="MailInfo" type="mail:mailInfo"/>
            <xsd:element name="Miniservices" type="miniservices:miniservices"/>
            <xsd:element name="Language" type="xsd:string"/>
            <xsd:element name="Language_lc" type="xsd:string"/>
            <xsd:element name="LanguageChooserInFooter" type="languagechooser:languageChooserInFooter" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="SmartExample" type="example:example"/>
            <xsd:element name="Rasp" type="rasp:rasp"/>
            <xsd:element name="poi" type="poi:poi"/>
            <xsd:element name="PoiGroups" type="poi_groups:poiGroups"/>
            <xsd:element name="PoiFavourite" type="poi_favourite:poiFavourite"/>
            <xsd:element name="bridges" type="bridges:bridges"/>
            <xsd:element name="Etrains" type="etrains:etrains"/>
            <xsd:element name="citySuggest" type="citysuggest:citySuggest"/>
            <xsd:element name="blocks">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jxb:property>
                            <jxb:baseType name="ru.yandex.autotests.mordabackend.beans.blocks.Blocks"/>
                        </jxb:property>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Banner_debug" type="bannerdebug:bannerDebug"/>
            <xsd:element name="Gohome" type="xsd:string"/>
            <xsd:element name="SetBigMorda" type="xsd:string"/>
            <xsd:element name="switch_type" type="switch_type:switchType"/>
            <xsd:element name="Retpath" type="xsd:string"/>
            <xsd:element name="Teaser_service" type="teaser_service:teaserService"/>
            <xsd:element name="set_start_page_link" type="xsd:int"/>
            <xsd:element name="SetupURL" type="xsd:string"/>
            <xsd:element name="SetupURLRegion" type="xsd:string"/>
            <xsd:element name="setupPages" type="setupPages:setupPages"/>
            <xsd:element name="BigCityName" type="xsd:string"/>
            <xsd:element name="BigShortMonth" type="xsd:string"/>
            <xsd:element name="WWW" type="xsd:string"/>
            <xsd:element name="isRussia" type="xsd:int"/>
            <xsd:element name="Teaser" type="teaser:AtomTeaser"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>

