portal/backend-tests/morda-backend-client/src/main/resources/xsd/languagechooser.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:languagechooser.beans.mordabackend.autotests.yandex.ru"
            elementFormDefault="qualified">

    <xsd:complexType name="languageChooserInFooter">
        <xsd:sequence>
            <xsd:element name="lang" type="xsd:string"/>
            <xsd:element name="href" type="xsd:string"/>
            <xsd:element name="locale" type="xsd:string"/>
            <xsd:element name="selected" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
