portal/backend-tests/morda-backend-client/src/main/resources/xsd/setuppages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:setuppages.beans.mordabackend.autotests.yandex.ru"
            xmlns:ns="urn:setuppages.beans.mordabackend.autotests.yandex.ru"
            elementFormDefault="qualified">

    <xsd:complexType name="setupPages">
        <xsd:sequence>
            <xsd:element name="all" type="xsd:string"/>
            <xsd:element name="common" type="xsd:string"/>
            <xsd:element name="lang" type="xsd:string"/>
            <xsd:element name="region" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>